<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="index.html">
      <img src="assets/images/logo/logo.png" alt="NeuroVital" class="img-fluid" style="max-width: 80px;">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="index.html" style="font-family: 'Poppins', sans-serif; color: #ecf0f1; font-weight: 700; font-size: 28px;">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="questionario.html" style="font-family: 'Poppins', sans-serif; color: #ecf0f1; font-weight: 700; font-size: 28px;">Dependência</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="tresds.html" style="font-family: 'Poppins', sans-serif; color: #ecf0f1; font-weight: 700; font-size: 28px;">3Ds</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
